<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- mysql链接 jar包位置-->
    <classPathEntry
            location="D:\Program Files\apache\maven-repository\mysql\mysql-connector-java\8.0.13\mysql-connector-java-8.0.13.jar"/>
    <context id="logdemo">
        <!-- 数据库配置-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/test"
        userId="root" password="root"/>
        <javaTypeResolver >
            <property name="forceBigDecimals" value="false"></property>
        </javaTypeResolver>
        <!-- 实体类配置-->
        <javaModelGenerator targetPackage="com.example.springboot.model" targetProject="\src\main\java">
            <property name="enableSubPackages" value="true"></property>
            <property name="trimStrings" value="true"></property>
        </javaModelGenerator>
        <!--mapper.xml 文件配置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="F:\worktest\springboot-demo\src\main\resources">
            <property name="enableSubPackages" value="true"></property>
        </sqlMapGenerator>
        <!-- xmlMapper 配置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.springboot.mapper" targetProject="\src\main\java">
            <property name="enableSubPackages" value="true"></property>
        </javaClientGenerator>
        <table  tableName="hmd_product_product" domainObjectName="Product"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
        </table>

    </context>
</generatorConfiguration>